/*PROJECT CSS*/
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";
$dark: #323031;
$bright: #ffd43b;
$bright2: #ca2f2f;
$main: #351633;
$main2: #cfc8ea85;
$grid: #ccc;
$light: #fff;
$font: "Kalam", cursive;
$border-radius: 10px;
body {
    align-items: center;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    color: $bright;
    display: flex;
    flex-direction: column;
    font-family: $font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    .calculator {
        background: $main2;
        border-radius: $border-radius;
        padding: 2em;
        width: 400px;
        .display {
            background-color: $dark;
            border-radius: $border-radius;
            font-size: 3em;
            margin-bottom: 20px;
            min-height: 1.5em;
            padding: 4px 8px;
            text-align: right;
            .output {
                vertical-align: middle;
            }
            .history {
                font-size: 0.5em;
                height: 30px;
                line-height: 1.5em;
                text-align: left;
            }
        }
        .buttons {
            display: grid;
            font-size: 20px;
            grid-gap: 10px;
            grid-template:
                "clear correct power divide"
                "seven eigth nine multiply"
                "four five six substract"
                "one two three add"
                "plus-minus zero decimal equal";
            height: 350px;
            // grid-template-columns: repeat(4, 1fr);
            button {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                font-size: 21px;
                &.btn-clear {
                    background-image: url("#{$assetsPath}delete.svg");
                    background-size: 28px;
                }
                &.btn-correct {
                    background-image: url("#{$assetsPath}correction.svg");
                    background-size: 38px;
                }
                
                /* Buttons positions */
                &#number-0 {
                    grid-area: zero;
                }
                &#number-1 {
                    grid-area: one;
                }
                &#number-2 {
                    grid-area: two;
                }
                &#number-3 {
                    grid-area: three;
                }
                &#number-4 {
                    grid-area: four;
                }
                &#number-5 {
                    grid-area: five;
                }
                &#number-6 {
                    grid-area: six;
                }
                &#number-7 {
                    grid-area: seven;
                }
                &#number-8 {
                    grid-area: eigth;
                }
                &#number-9 {
                    grid-area: nine;
                }
                &#decimal {
                    grid-area: decimal;
                }
                &#equal {
                    grid-area: equal;
                }
                &#add {
                    grid-area: add;
                }
                &#substract {
                    grid-area: substract;
                }
                &#multiply {
                    grid-area: multiply;
                }
                &#divide {
                    grid-area: divide;
                }
                &#power {
                    grid-area: power;
                }
                &#correct {
                    grid-area: correct;
                }
                &#clear {
                    grid-area: clear;
                }
                &#plus-minus {
                    grid-area: plus-minus;
                }
                &#percentage {
                    display: none;
                    grid-area: percentage;
                }
            }
        }
    }
}
button,
.btn {
    background: $bright;
    border-color: $main;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 0.125em;
    box-shadow: 0 0.375em 0 currentColor;
    color: $dark;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-align: center;

    vertical-align: middle;
    &:hover {
        background: $light;
        cursor: pointer;
    }
    &:active {
        background: darken($bright, 20%);
        box-shadow: none;
        top: 0.375em;
    }
    &:disabled {
        background: grey;
    }
    &.active{
        background: lighten($bright, 20%);

    }
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
}
